{{!< ../default}}

<article class="post-content">
    <div class="post-content-body">                
       <div class="checkout-form">
            <h1 class="checkout-title">Choose your subscription</h1>
            <p>Choose your Wrongnet premium VPN package.</p>
            <div class="row">
                <div class="col-4">
                    <div class="checkout-plan">
                            <header class="checkout-plan-header">
                                <h3>Monthly</h3>
                                <span>Rp. </span><strong>20.000</strong> / month
                            </header>
                            <div class="checkout-plan-content">
                                <ul>
                                    <li>Full access to all private posts</li>
                                    <li>Regular updates with new content</li>
                                    <li>Support independent publishing</li>
                                    <li>Simple, secure card payment</li>
                                </ul>
                                <a class="button primary fit" href="javascript:" data-members-plan="Monthly">Choose this plan</a>
                            </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="checkout-plan">
                        <header class="checkout-plan-header">
                            <h3>Quarterly</h3>
                            <span>Rp. </span><strong>50.000</strong> / 3 months
                        </header>
                        <div class="checkout-plan-content">
                            <ul>
                                <li>Full access to all private posts</li>
                                <li>Regular updates with new content</li>
                                <li>Support independent publishing</li>
                                <li>Simple, secure card payment</li>
                            </ul>
                            <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Choose this plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="checkout-plan">
                        <header class="checkout-plan-header">
                            <h3>Yearly</h3>
                            <span>Rp. </span><strong>100.000</strong> / year
                        </header>
                        <div class="checkout-plan-content">
                            <ul>
                                <li>Full access to all private posts</li>
                                <li>Regular updates with new content</li>
                                <li>Support independent publishing</li>
                                <li>Simple, secure card payment</li>
                            </ul>
                            <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Choose this plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
